<div class="container mat-elevation-z8">
    <form class="form">
      <h1>Atualizar Técnico</h1>
      <img class="fullWidth" src="assets/img/tecnico-create.svg" alt="helpdesk" />
  
      <section class="section">
        <p class="text">Selecione o tipo de perfil :</p>
        <mat-checkbox [disabled]="true" class="margin" color="primary">Admin</mat-checkbox>
        <mat-checkbox [disabled]="true" class="margin" color="primary">Cliente</mat-checkbox>
        <mat-checkbox [disabled]="true" class="margin" color="primary">Técnico</mat-checkbox>
      </section>
  
      <mat-form-field class="fullWidth" appearance="fill">
        <mat-label>Nome</mat-label>
        <input
          [(ngModel)]="tecnico.nome"
          name="nome"
          [disabled]="true"
          matInput
        />
        <mat-icon matSuffix>person</mat-icon>
      </mat-form-field>
  
      <mat-form-field class="fullWidth" appearance="fill">
        <mat-label>CPF</mat-label>
        <input
          name="cpf"
          [(ngModel)]="tecnico.cpf"
          matInput
          [disabled]="true"
        />
        <mat-icon matSuffix>pin</mat-icon>
      </mat-form-field>
  
      <mat-form-field class="fullWidth" appearance="fill">
        <mat-label>E-mail</mat-label>
        <input
          name="email"
          [(ngModel)]="tecnico.email"
          matInput
          [disabled]="true"
        />
        <mat-icon matSuffix>email</mat-icon>
      </mat-form-field>
  
      <mat-form-field class="fullWidth" appearance="fill">
        <mat-label>Senha</mat-label>
        <input
          name="senha"
          [(ngModel)]="tecnico.senha"
          type="password"
          matInput
          [disabled]="true"
        />
        <mat-icon matSuffix>password</mat-icon>
      </mat-form-field>
    </form>
    <button
      (click)="delete()"
      mat-raised-button
      class="fullWidth mat-elevation-z4"
      color="primary"
    >
      Deletar Tecnico
    </button>
    <button
      routerLink="../../"
      mat-stroked-button
      class="fullWidth mat-elevation-z4"
      color="warn"
    >
      Cancelar
    </button>
  </div>
  