.container {
    width: 35rem;
    margin: auto;
    padding:  1rem 1rem 3rem 1rem;
    border-radius: .8rem;
}

.fullWidth {
    width: 100%;
}

h1{
    text-align: center;
}

img{
    height: 12rem;
    margin: auto;
}

.section {
    margin:1rem;
    display: flex;
    justify-content: space-between;
}

button {
    margin-top: .5rem;
}

.text {
    color: rgb(51 57 138 / 90%)
}